:root{
    --color_box: #043d81;
    
    --color_shadowbox:#021b26;

    --color_text: #E2E2B6; 

    --color_button: #6EACDA; 
    --color_shadowbutton: #5467b9; 
    /* #6EACDA
    #E2E2B6 */
    /* --color_box:rgb(102, 126, 126);
    --color_shadowbox: rgb(69, 80, 87); */
}
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-size: 3vh;
    color: var(--color_text);
    background-image: url("https://bettysgraphics.neocities.org/images/backgrounds/pattern%2044.gif");
    /* background-image: url("https://bettysgraphics.neocities.org/images/backgrounds/pattern%2030.gif"); */
    /* background-image: url("https://bettysgraphics.neocities.org/images/backgrounds/847.GIF"); */
    /* background-image: url("https://bettysgraphics.neocities.org/images/backgrounds/400.GIF"); */
    /* background-image: url("https://c.tenor.com/VB4zkdE3vBEAAAAd/tenor.gif"); */
}
@keyframes rodar{
    to{
        /* --rotatio: 0deg */
        transform: rotate(0deg);
    }
    from{
        /* --rotatio: 360deg */
        transform: rotate(360deg);
    }
    /* 100%{transform: rotate(360deg);} */
}
@keyframes aparecer{
    from{
        opacity: 0;
        transform: scaleY(0) ;
        transform-origin: top;
    }
    to{
        opacity: 100;
        transform: scaleY(1) ;
        transform-origin: top;
    }
    /* 100%{transform: rotate(360deg);} */
}
h1, p, h2{
    cursor:context-menu;
}
/* h1{
    font-size: 8vh;
} */

img{
    /* animation: rodar 5s infinite; */
    width: 100%;
    height: 100%;
}
.status_div{
    /* width: 100%; */

    /* border: solid; */
    display: flex;
    align-items: center;
}
.progress-bar{
    height: 8px;
    background-color: aqua;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}
.progress{
    height: 8px;
    background-color: rgb(5, 29, 29);
    border-radius: 5px;
    
}
input[type="range"]{
    width: 100%;
    cursor: pointer;
}
.status{
    padding: 1vw;
    width: 50%;
}
.botao{
    transition: 0.2s;
    margin: 0.6vh 0.8vw;
    border-radius: 10px;
    padding: 1vh 0.5vw;
    font-size: larger;
    background-color: var(--color_button);
    color: inherit;
    text-decoration: none;
}

.botao:hover{
    cursor: pointer;
    transition: 0.0s;
    box-shadow: 0.0vh 0.5vh var(--color_shadowbutton);
    transform: scale(1.0,0.90) translateY(-0.2vh);
}
.area_remove{
    /* margin-left: 3px; */
    /* margin-top: 38px; */
}
.b_esconder{
    text-align:center;
    padding: 5px 15px 5px 18px;
    font-size: 4vh;
    border-radius: 30px;
    background-color: var(--color_button);
    cursor: pointer;
}
.b_esconder:hover{
    cursor: pointer;
    transition: 0.0s;
    box-shadow: 0.0vh 0.4vh var(--color_shadowbutton);
    transform: scale(1.0,0.90) translateY(-0.10vh);
}
h1{
    margin: 0%;
}
nav {
    display: flex;
    
    flex-direction: column;
}

header{
    /* border: solid; */
    width: 25vw;
    display: flex;
    flex-direction: column;
    
}
header .box{
    margin: 2vh 0.5vw;
    padding: 1vh 0.5vw;
}
audio{
    
    /* background-color: aqua; */
    margin: 1px -10px 1px -10px;
    height: 6vh;
    width: 104%;
}
.music_local{
    /* border: solid; */
}
.box_title{
    box-shadow: 0px 1.2vh var(--color_shadowbox);
    /* border-bottom: solid 1vw var(--color_shadowbox); */
    margin: 2vh 1.5vw;
    padding: 1vh 1vw;
    background-color: var(--color_box);
    border-radius: 10px;
    display: flex;
    /* justify-content: flex-end; */
    align-items:center;
    justify-content: space-between;


    flex-wrap: wrap;
}
.disco{
    cursor:grab;
    width: 19vw;
    height: 19vw;
    /* margin-right: 1vw; */
    /* border: solid; */
    border-radius: 100%;
    
    -webkit-mask-image: radial-gradient(circle at center, transparent 10%, black 10%);
    mask-image: radial-gradient(circle at center, transparent 10%, black 10%);
}
#disc{
    animation: rodar 6s linear infinite;
    /* animation-play-state: start;  */
    animation-play-state: paused;
    /* transition: 5s; */
}
#disc_pause{
    animation-play-state: paused; 
    /* animation: rodar 12s linear infinite; */
    
}
.snake{
    border: solid;
    width: 100%;
    height: 288px;
}
.info{
    
    width: 100vw;
    /* border: solid; */
    /* flex: 0.75 1; */
    
}
.box {
    box-shadow: 0px 1.2vh var(--color_shadowbox);
    /* border: solid ; */
    margin: 2vh 1.5vw;
    padding: 1vh 1vw;
    background-color: var(--color_box);
    border-radius: 10px;
    
}

/* codigo do range */

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
  }
  
  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: var(--color_shadowbox);
    border-radius: 16px;
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 10px;
    background: var(--color_shadowbox);
    border-radius: 16px;
  }
  
  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 10px;
    width: 15px;
    background-color: var(--color_button);
    border-radius: 50%;
    border: 2px solid var(--color_button);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px var(--color_button);
  }
  
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 10px;
    width: 15px;
    background-color: var(--color_button);
    border-radius: 50%;
    border: 1px solid var(--color_button);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px var(--color_button);
  }
/* mmdmdofmsodfmosmd */
  
.info .box{
    margin: 4vh 3.5vw 6vh 3.5vw;
    animation: aparecer 0.25s linear;
}


.main_box{
    margin: 1vw 0.5vw;
    /* width: 100%; */
    /* border: solid; */
    display: flex;
    flex: 1;
}
@media all and (max-width: 650px){
    .main_box{
        display: block;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
}

.text_stikers{
    /* margin-bottom: 4vh; */
    /* border: solid rgb(0, 255, 110) 1px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.stickers {
    /* border: solid rgb(0, 255, 110) 1px; */
    width: 50px;
    height: 50px;
    display:inline
}
.stickers_f {
    transform: scaleX(-1);
    width: 50px;
    height: 50px;
    display:inline
}
.gride{
    padding: 4%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  repeat(3,1fr);
    
    grid-row-gap: 1.2vh ;
    grid-column-gap: 1.2vw ;
    
}
.gride img{
    transition: 0.5s;
    
    border-radius: 15px;
}
.gride img:hover{
    /* cursor:col-resize; */
    transition: 0.0s;
    transform: scale(1.04) ;
    
    /* border-radius: 15px; */
}